<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.redahm.android">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Vulkan 1.1+ required for the Xenos GPU emulation backend -->
    <uses-feature android:name="android.hardware.vulkan.version"
        android:version="0x00401000" android:required="true" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="ReDAHM"
        android:extractNativeLibs="true"
        android:theme="@style/ReDAHMTheme">

        <activity
            android:name=".MainActivity"
            android:label="ReDAHM"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|uiMode"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>